* {
  box-sizing: border-box;
}

.navbar {
  font-size: 2rem;
  padding: 1em;
  background-color: beige;
}

form {
  display: inline-block;
  text-align: center;
}

.add-info {
  font-size: 1.5rem;
  font-weight: 600;
}

.add-input {
  width: 70%;
  font-size: 1.5em;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.add-button,
.habits-reset {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: dodgerblue;
  color: white;
  padding: 0.4em 0.8em;
  cursor: pointer;
}

.habits-reset {
  margin-left: 0.5rem;
}

.add-button:hover {
  opacity: 80%;
}

.habit {
  font-size: 2em;
  list-style: none;
  padding: 0.5em;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit-button {
  background-color: transparent;
  font-size: 2rem;
  margin: 0 0.1em;
}

.navbar-count,
.habit-count {
  display: inline-block;
  text-align: center;
  background-color: darkcyan;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: white;
  margin: 0 0.25em;
  line-height: 2.5rem;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: gold;
}

.habit-delete {
  color: darkred;
}
