.habit {
  font-size: 2em;
  list-style: none;
  padding: 0.5em;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit-button {
  background-color: transparent;
  font-size: 2rem;
  margin: 0 0.1em;
}

.habit-count {
  display: inline-block;
  text-align: center;
  background-color: darkcyan;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: white;
  margin: 0 0.25em;
  line-height: 2.5rem;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: gold;
}

.habit-delete {
  color: darkred;
}
